{
  "comments": false,
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": { "node": "20" }
        }]
      ],
      "plugins": ["istanbul"]
    },
    "main": {
      "presets": [
        ["@babel/preset-env", {
          "targets": { "node": "20" }
        }]
      ],
      "plugins": [
        "@babel/plugin-proposal-object-rest-spread"
      ]
    },
    "renderer": {
      "presets": [
        ["@babel/preset-env", {
          "modules": false,
          "targets": {
            "electron": "33"
          }
        }]
      ],
      "plugins": [
        "@babel/plugin-proposal-object-rest-spread"
      ]
    },
    "web": {
      "presets": [
        ["@babel/preset-env", {
          "modules": false,
          "targets": {
            "browsers": ["last 2 versions"]
          }
        }]
      ],
      "plugins": [
        "@babel/plugin-proposal-object-rest-spread"
      ]
    }
  }
}
